.form-bg
  background: url("../images/form-bg.png") no-repeat center top
  background-size: cover
  color: white
  .line
    border: none
    .icon_img
      top: -24px
      &::before
        left: 7%
        background: url("../images/form-clock.png") no-repeat center
  h2
    text-transform: uppercase
    font-size: 30px
    text-align: center
  form

