@import "normalize"
@import "reset"
@import "content-style/all-pages"
@import "content-style/menu"
@import "content-style/houses-style"
@import "content-style/form-style"
@import "content-style/reviews-style"
@import "content-style/galleryMain"
@import "content-style/footer-style"
@import "mixin/_mixinFlexWebkit.scss"

header
  background: url("../images/main/bg-header.jpg") no-repeat center top
  height: 100vh
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover

.offer
  color: #352b2b
  .line
    .icon_img
      &::before
        background: url("../images/main/icon-offer.png") no-repeat center
  h2
    font-size: 14px
    margin-top: 47px
    line-height: 2rem
  .offer_content
    padding: 3% 2% 0 0
    >a
      margin-right: 3%
    .content
      text-align: center
      font-size: 18px
      color: #4a3838
      height: 272px
      div
        &:first-child
          border-radius: 50%
          width: 211px
          height: 211px
      .houses_img
        background: url("../images/main/houses-bg.jpg") no-repeat center
        background-size: cover
      .fishing_img
        background: url("../images/main/fishing-bg.jpg") no-repeat center
        background-size: cover
      .bathhouse_img
        background: url("../images/main/bathhouse-bg.jpg") no-repeat center
        background-size: cover
      .waterfalls_img
        background: url("../images/main/waterfalls-bg.jpg") no-repeat center
        background-size: cover
      .shooting_img
        background: url("../images/main/shooting-bg.jpg") no-repeat center
        background-size: cover
      .excursions_img
        background: url("../images/main/excursions-bg.jpg") no-repeat center
        background-size: cover
      .icon
        border-radius: 50%
        background-color: #fcf8f0
        position: relative
        width: 80px
        height: 80px
        left: 6%
        bottom: 25%
        &::before
          content: ""
          position: absolute
          background-size: contain
          width: 70%
          height: 70%
          left: 13%
          bottom: 15%
      .icon.houses
        &::before
          background: url("../images/main/houses-icon.png") no-repeat center
      .icon.fishing
        &::before
          background: url("../images/main/fishing-icon.png") no-repeat center
      .icon.bathhouse
        &::before
          background: url("../images/main/bathhouse-icon.png") no-repeat center
      .icon.waterfalls
        &::before
          background: url("../images/main/waterfalls-icon.png") no-repeat center
      .icon.shooting
        &::before
          background: url("../images/main/shooting-icon.png") no-repeat center
      .icon.excursions
        &::before
          background: url("../images/main/excursions-icon.png") no-repeat center
      p
        position: relative
        bottom: 25%
      .excursions_text__width
        width: 50%
        margin: 0 auto

section.houses
  margin-top: 4%