@import "normalize"
@import "reset"
@import "content-style/all-pages"
@import "content-style/menu"
@import "content-style/form-style"
@import "content-style/footer-style"
@import "mixin/_mixinFlexWebkit.scss"

.pink_line
  .semicircle
    left: 45%

section.price
  .line
    margin: 0 auto
    border: none
    border-top: 1px solid #c8c3c3
    border-bottom: 1px solid #c8c3c3
    padding-bottom: 2px
    width: 100%
  .table
    width: 89%
    margin: 7% 0 10% 0
    .flex__between
      line-height: 2rem
      margin: 1.25% 0
      a
        font-family: "Arial-I"
        font-size: 16px
        color: #1b97c3
      p
        font-family: "Arial"
        font-size: 14px
        color: #4a3838