.pink_line
  .semicircle.page_reviews
    left: 44%
.pink_line.page_reviews_height
  @media screen and (max-width: 1024px)
    height: 100px

section.index_reviews.page_reviews
  .title
    margin-top: 0
    @media screen and (max-width: 1024px)
      margin-top: 30px
  .services_line
    margin: 0 auto 8% auto
    @media screen and (max-width: 768px)
      display: none
  .services_line
    width: 27%
    margin: 0 auto 4% auto
    border: 0.5px solid #d9d5d5
    position: relative
    &::before,
    &::after
      content: ""
      position: absolute
      border-radius: 50%
      width: 10px
      height: 10px
      background-color: #d9d5d5
      top: -5px
    &::before
      left: -5px
    &::after
      right: -5px
  .review_relative
    margin-bottom: 25px
  .all_reviews
    left: -9px
    top: -65px
    .all_reviews__link
      margin-left: 1%
      &:hover
        opacity: 0.9
        cursor: pointer
      .orange_circle
        left: 46%

.pink_line.page_reviews_mobile
  @media screen and (max-width: 1024px)
    height: 100px

section.index_reviews.page_reviews.mobile
  .line
    margin-top: 13px

.dd__none
  display: none


