footer
  border-bottom: 1px solid #e6d9ca
  padding-bottom: 52px
  .footer_content
    padding-top: 3%
    font-family: "OldKingC", sans-serif
    color: black
    .footer_link
      font-size: 13px
      width: 38%
      margin-top: 4%
      .flex__column
        @include justify-content(flex-start)
        a
          margin-bottom: 19px
          color: #000
    .footer_contacts
      margin-right: 13%
      margin-top: 4%
      .phone_number
        color: black
        font-size: 24px
        font-weight: 400
        span
          font-size: 13px
          color: #1b97c3
      .footer_inst
        @include flexbox
        @include align-items(center)
        color: #1b97c3
        margin-top: 6%
        font-family: "ArialMT"
        font-size: 13px
        font-weight: 400
        img
          margin-right: 6%

section.cop
  margin-top: 63px
  padding-bottom: 51px
  font-size: 13px
  font-weight: 400
  font-family: "ArialMT"
  .copyrights
    @include flexbox
    @include justify-content(center)
    @include flex-direction(column)
    text-align: center
    line-height: 1.5rem
    a
      color: #1b97c3