.form-bg
  background: url("../images/form-bg.jpg") no-repeat center top
  background-size: cover
  color: white
  padding-bottom: 69px
  .line
    border: none
    margin: 0
    .icon_img
      top: -20px
      background: url("../images/form-clock-bg.png") no-repeat
      left: 43%
      &::before
        left: 3%
        background: url("../images/form-clock.png") no-repeat center
  h2
    text-transform: uppercase
    font-size: 30px
    text-align: center
    padding-top: 8.4%
    letter-spacing: 0.04rem
    font-weight: 400
  form
    @include flexbox
    font-family: "ArialMT"
    font-size: 12px
    margin-top: 14px
    label
      margin-bottom: 5px
      color: white
    input
      padding: 7px 10%
      color: black
      border: none !important
    .form_text
      margin-right: 10px
      padding-top: 26px
    .arrival_width
      width: 13%
      margin-right: 4%
    .departure_width
      width: 13%
    .quantity_width
      width: 12%
      position: relative
    .phone_width
      width: 15%
    >div
      margin-right: 1.2%
    .live_margin
      margin-right: 2%
      width: 16%
    .button_box
      @include flexbox
      @include align-items(flex-end)
      margin-left: 1%
      .button
        color: white
        background-color: #e4b05c
        text-transform: uppercase
        padding: 7px 39px
        border: none !important
.styled_select
  overflow: hidden
  background: url("../images/form-arrows-bottom.png") no-repeat right
  background-color: white
  select
    border: none !important
    background: transparent
    padding: 7px 0 7px 67%
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    width: 100%
    color: rgba(0,0,0,0.5)
  [data-selected]
    color: black
  option
    color: black