@font-face {
    font-family: 'OldKingC';
    src: local('☺'),
    url('OldKingC.otf') format('otf'),
    url('Albertus Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}