@font-face {
    font-family: 'OldKingC';
    src: local('☺'),
    url('SPSLOldKingC.woff') format('woff'),
    url('SPSLOldKingC.ttf') format('truetype'),
    url('SPSLOldKingC.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial-I';
    src: local('☺'),
    url('Arial-ItalicMT.woff') format('woff'),
    url('Arial-ItalicMT.eot') format('eot'),
    url('Arial-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ArialMT';
    src: local('☺'),
    url('ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial-BoldMT';
    src: local('☺'),
    url('Arial-BoldMT.woff') format('woff'),
    url('Arial-BoldMT.ttf') format('truetype'),
    url('Arial-BoldMT.otf');
    font-weight: normal;
    font-style: normal;
}