@font-face {
    font-family: 'OldKingC';
    src: local('☺'),
    url('OldKingC.otf') format('otf'),
    url('Albertus Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial-I';
    src: local('☺'),
    url('Arial-ItalicMT.woff') format('woff'),
    url('Arial-ItalicMT.eot') format('eot'),
    url('Arial-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ArialMT';
    src: local('☺'),
    url('ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial-BoldMT';
    src: local('☺'),
    url('Arial-BoldMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}